body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.glass {
  background: rgba(30, 41, 59, 0.88);
  backdrop-filter: blur(7px) saturate(160%);
  border: 1.5px solid rgba(59, 130, 246, 0.18);
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

main {
  max-width: 80%;
  margin: auto;
  padding: 2rem 0;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  word-wrap: break-word;
}

.result p {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

form button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }

  form {
    padding: 1rem;
  }

  .result {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  main {
    max-width: 90%;
  }

  form input[type="number"] {
    font-size: 1.25rem;
  }

  form button[type="submit"] {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
  }

  .result p {
    font-size: 1.25rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main div p {
  text-align: left;
}

main div p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(51 65 85);
}

main div p span:first-child {
  font-weight: 500;
}